flow.json
[{"id":"ce9112f4.568e3","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"7f8474a7.ae92bc","type":"inject","z":"ce9112f4.568e3","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":80,"y":200,"wires":[["8b723e39.a481d"]]},{"id":"9d466a66.be5718","type":"http request","z":"ce9112f4.568e3","name":"","method":"GET","ret":"bin","url":"","tls":"","x":450,"y":200,"wires":[["39da7921.e560a6","9aef8bc7.fc2598"]]},{"id":"8b723e39.a481d","type":"function","z":"ce9112f4.568e3","name":"prep query","func":"msg.headers = {};\nmsg.headers['User-Agent'] = 'Mozilla/5.0 (Windows NT 6.1; Win64; x64; rv:47.0) Gecko/20100101 Firefox/47.0'\nmsg.headers['Content-Disposition'] = 'Content-Disposition to attachment; filename= file.zip'\nmsg.headers['Content-Type'] = 'application/octet-stream';\n\nmsg.headers['Content-Description'] = 'File Transfer';\n\nmsg.headers['Content-Transfer-Encoding'] = 'binary';\n\n\nmsg.url=\"https://donnees.roulez-eco.fr/opendata/jour/20181024/\";\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":200,"wires":[["9d466a66.be5718","ef9e5e78.dbdfa"]]},{"id":"a12d9d5c.2b4458","type":"debug","z":"ce9112f4.568e3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":830,"y":200,"wires":[]},{"id":"39da7921.e560a6","type":"zip","z":"ce9112f4.568e3","name":"","mode":"compress","filename":"/home","outasstring":true,"x":650,"y":200,"wires":[["a12d9d5c.2b4458"]]},{"id":"ef9e5e78.dbdfa","type":"debug","z":"ce9112f4.568e3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":480,"y":160,"wires":[]},{"id":"9aef8bc7.fc2598","type":"debug","z":"ce9112f4.568e3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":660,"y":280,"wires":[]}]